<div class="menu-shadow" [ngClass]="showMenu ? 'show-menu': ''">
  <div class="menu">
    <img src="assets/icons/icon-menu-close.svg" width="20" (click)="setCloseMenu()">
    <ul>
      <li *ngFor="let sensor of sensors"
          (click)="selectSensor(sensor)"
          [ngClass]="selectedSensor.sensor_id === sensor.sensor_id ? 'selected-sensor' : ''"
      >
        {{ sensor.sensor_name }}
      </li>
    </ul>
  </div>
</div>

<div class="navbar">
  <img src="assets/icons/icon-menu.svg" width="20" height="15" (click)="setShowMenu()">
</div>
<div class="container">
  <div class="aside">
    <ul>
      <li *ngFor="let sensor of sensors"
          (click)="selectSensor(sensor)"
          [ngClass]="selectedSensor.sensor_id === sensor.sensor_id ? 'selected-sensor' : ''"
      >
        {{ sensor.sensor_name }}
      </li>
    </ul>
  </div>
  <div class="screen">
    <div *ngIf="selectedSensor?.sensor_name" class="title">
      <h1>{{selectedSensor?.sensor_name}}</h1>
    </div>
    <div [ngSwitch]="selectedSensor?.sensor_id">
      <canvas *ngSwitchCase="1" #temperatureCanvas></canvas>
      <canvas *ngSwitchCase="1" #humidityCanvas></canvas>
      <canvas *ngSwitchCase="2" #pressureCanvas></canvas>
      <canvas *ngSwitchCase="2" #windSpeedCanvas></canvas>
      <canvas *ngSwitchCase="3" #noiseLevelCanvas></canvas>
      <canvas *ngSwitchCase="3" #airQualityCanvas></canvas>
    </div>
  </div>
</div>
