/* You can add global styles to this file, and also import other style files */
*, *::after, *::before {
	margin: 0;
	box-sizing: border-box;
}
:root {
  --soft-blue: #3f51b5;
  --medium-blue: #2e3c9b;

}

html, body {
  height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-image: url(./assets/images/afternoon-clouds.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
